* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, body {
    margin: 0;
    padding: 0;
}
body {
    font:18px 'Gilroy', sans-serif;
    line-height: 22px;
}
@media (min-width: 320px) {
    .header_wrapper {
        margin: 65px 20px 0 20px;
    }

    .header_items {
        display: flex;
        justify-content: space-between;
    }

    .header-name {
        width: 120px;
        font-size: 45px;
        line-height: 55px;
        font-weight: bold;
    }
    .header-about {
        margin: 22px 0 35px 0;
    }

    .main_img {
        width: 100%;
        margin-bottom: 80px;
    }
    /* about */
    .about {
        background-color: #F6F6F6;
    }
    .about_title {
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        padding: 80px 0 30px 0;
    }
    .about_text {
        text-align: center;
        padding: 30px 27px 12px 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about_text p {
    	padding-bottom: 60px;
    }


}