* {
    box-sizing: border-box;
}
@font-face {
    font-family: Gilroy;
    src: url(fonst/10871.otf);
}

body {
    font-family: Gilroy sans-serif;
}

@media (min-width: 320px) {
    .header {
        outline: 1px solid red;
        margin: 20px;
        font-size: 45px;
        line-height: 55px;
        font-weight: bold;
        font-family: Gilroy-Bold, serif;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .header-name {
        width: 120px;
    }
    .header-about {
        margin: 25px 0 35px 0;
        font-size: 18px;
        line-height: 22px;
    }

    .main_img {
        width: 100%;
        margin-bottom: 80px;
    }

}